.olw-compo{
	width: 100%;
	height: auto;
	padding-top: 60px;
}
.olw-selector{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}
.olw-slt{
	padding: 8px 30px;
	text-transform: uppercase;
	float: left;
	margin-right: 5px;
	font-size: 13px;
	color: white;
	background-color: black;
	transition: all 0.3s;
}
.olw-slt:hover{
	color: white;
	background-color: #1bbde8;
	text-decoration: none;
}
.active{
	background-color: #1bbde8;
}

.olw-main{
	width: 100%;
	height: 220px;
}
.olw-m-item .olw-item-img{
	transition: all 0.3s;
}
.olw-m-item:hover .olw-item-img{
	transform: scale(1.2);
}
.olw-m-item:hover .olw-overlay{
	opacity: 0.5;	
}
.olw-m-item:hover .olw-item-ctn{
	opacity: 1;	
}
.olw-m-item .olw-item-atag{
	transform: scale(0.4);
	transition: all 0.3s;
}
.olw-m-item:hover .olw-item-atag{
	color: white;
	transform: scale(1);
}
.olw-m-item .olw-it-up{
	transform: translateY(20px);
	transition: all 0.3s;
}
.olw-m-item:hover .olw-it-up{
	transform: translateY(0);
}
@media screen and (max-width: 992px){
	.olw-main .olw-m-item{
		width: 50%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
	}
}
@media screen and (max-width: 480px){
	.olw-main .olw-m-item{
		width: 100%;
		height: auto;
		float: left;
		overflow: hidden;
		position: relative;
	}
	.olw-selector {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.olw-selector .olw-slt{
		margin-bottom: 10px;
	}
	.olw-ftr .olw-sub-ftr {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	.olw-ftr .olw-sub-ftr p{
		font-size: 16px;
		margin-right: 0;
	}
}
.olw-m-item{
	width: 25%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}
.olw-item-img{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}
.olw-item-img img{
	width: 100%;
	height: 100%;
}

.olw-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: black;
	opacity: 0;
	transition: 0.3s;
}
.olw-item-ctn{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	opacity: 0;	
	transition: 0.3s;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.olw-item-atag{
	color: white;
	background-color: #1bbde8;
	padding: 6px 30px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.olw-item-atag:hover{
	text-decoration: none;
}
.olw-item-ctn h3{
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 10px;	
	color: white;
}
.olw-item-ctn h3 a{
	color: white;
}
.olw-item-ctn h3 a:hover{
	color: white;
	text-decoration: none;
}	
.olw-item-ctn p{
	color: #1bbde8;	
}
.olw-ftr{
	width: 100%;
	height: 150px;
	background-image: url(images/background/parallax.jpg);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	margin-top: 220px;
}
.olw-sub-ftr{
	width: 100%;
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.olw-sub-ftr p{
	text-transform: uppercase;
	display: inline;
	font-size: 18px;
	margin-right: 100px;
}
.olw-sub-ftr a{
	display: inline-block;
	background-color: #1bbde8;
	color: white;
	text-transform: uppercase;
	padding: 8px 40px;
	transition: all 0.3s;
}
.olw-sub-ftr a:hover{
	color: #1bbde8;
	text-decoration: none;
	background-color: black;
}