.wcs-compo{
	width: 100%;
	height: auto;
	padding: 80px 0px;
}
.wcs-compo .container{
	height: 100%;
}
.wcs-item{
	width: 100%;
	height: auto;
	transition: all 0.3s;
}

.wcs-item:hover .wcs-item-atag{
	color: #1bbde8;
}
.wcs-item:hover .rt-cm{
	transform: rotateY(180deg);
}
.rt-cm{
	font-size: 44px;
	transition: all 0.3s;
}
.rt-cm:hover{
	transform: rotateY(180deg);
}
.wcs-item p{
	text-align: center;
	font-size: 15px;
	color: #666;
}
.wcs-item-h{
	margin-bottom: 20px;
	text-align: center;
}
.wcs-item-h i{
	color: #1bbde8;
	margin-bottom: 20px;
}
.wcs-item-h .wcs-item-atag{
	color: #000;
	transition: all 0.3s;
}
.wcs-item-atag h3{
	font-size: 22px;
	font-weight: 300;
	text-transform: uppercase;
}
.wcs-item-h .wcs-item-atag:hover{
	text-decoration: none;
	color: #1bbde8;
}